.services{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:80px;
  margin:80px 170px;
}
.services-title{
  position: relative;
}
.services-title h1{
  padding: 0px 30px;
  font-size: 80px;
  font-weight: 600;
}
.services-title h1::after{
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 5px;
  background-color: #000;
  border-radius: 5px;
}
.services-title img{
  position: absolute;
  bottom :0;
  right: 0;
 z-index:-1;
}
.services-format{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding:60px;
  border-radius: 10px;
  border:2px solid white;
  transition: all 0.3s ease;
  cursor:pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.services-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-bottom: 80px;
}
.services-format:hover{
  border:2px solid #f0f;
  background-image: linear-gradient(45deg,#3f0028,#582300);
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transition:0.4s;
  -webkit-transition:0.4s;
  -moz-transition:0.4s;
  -ms-transition:0.4s;
  -o-transition:0.4s;
}
.services-format h3{
  font-size: 28px;
  font-weight: 600;
}
.services-format h2{
  font-size: 38px;
font-weight: 800;
background:linear-gradient(270deg,#DF8908 50%,#B415FF 100%) ;
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.services-format p{
  color:#d4d4d4;
  font-size: 24px;
  line-height: 40px;
  max-width: 300px;

}
.services-readmore{
  display: flex;
  align-items: center;
  gap:10px;
  margin-top:20px;
}
