.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:35px;
   
}
.hero img{
  margin-top:150px;

}
.hero h1{
    font-size: 90px;
    font-weight: 600;
    width:70%;
    text-align: center;

}
.hero h1 span{
  background: linear-gradient(270deg,#DF8908 10%,#B415FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero p{
    font-size: 24px;
    width:50%;
    text-align: center;
    line-height:40px;
}
.hero-action
{
    display: flex;
    gap:20px;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}
.hero-connect{
    padding: 25px 45px;
    background: linear-gradient(270deg,#DF8908 10%,#B415FF 100%);
    border-radius: 50px;
    cursor:pointer;
    text-decoration: none;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.hero-resume{
    padding: 25px 75px;
    border: 2px solid #FFFFFF;
    border-radius: 50px;
    cursor:pointer;
    text-decoration: none;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.hero-connect:hover:hover{
  border:2px solid white;
}
.hero-resume:hover{
  border-color:#B415FF
}