.mywork {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  margin: 80px 170px;
}

.mywork-title {
  position: relative;
}

.mywork-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.mywork-item img {
  width: 100%;
  border-radius: 16px;
}
.mywork-container img{
  box-sizing: border-box;
  width:419px;
  height:280px;
  transition:.3s;
  -webkit-transition:.3s;
  -moz-transition:.3s;
  -ms-transition:.3s;
  -o-transition:.3s;
  cursor:pointer;
}
.mywork-container img:hover{
  transform: scale(1.10);
  border: 4px solid #ff00ff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.10);
  -moz-transform: scale(1.10);
  -ms-transform: scale(1.10);
  -o-transform: scale(1.10);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition:.3s;
  -webkit-transition:.3s;
  -moz-transition:.3s;
  -ms-transition:.3s;
  -o-transition:.3s;
}
.mywork-showmore {
  display: flex;
  gap:15px;
  border-radius:50px;
  border:2px solid white;
  padding:30px 60px;
  -webkit-border-radius:50px;
  -moz-border-radius:50px;
  -ms-border-radius:50px;
  -o-border-radius:50px;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 80px;
  cursor: pointer;
}
.mywork-showmore:hover {
  background:linear-gradient(270deg, #ff00ff, #00ffff);
  gap:30px;
  color: white;
  transition:.3s;
  -webkit-transition:.3s;
  -moz-transition:.3s;
  -ms-transition:.3s;
  -o-transition:.3s;
}