.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:80px;
  margin:80px 170px;
}
.contact-title{
  position: relative;
}
.contact-title h1{
  padding:0px 30px;
  font-size: 80px;
  font-weight: 600;
}
.contact-title img{
  position: absolute;
 bottom:0;
 right:0;
 z-index:-1;
}
.contact-section{
  display: flex;
  gap:150px;
}
.contact-left{
  display: flex;
  flex-direction: column;
  gap:30px;
}
.contact-left h1{
  font-size: 80px;
  font-weight: 700;
  background: linear-gradient(270deg, #DF8908 80%, #B415FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contact-left p{
  font-size: 20px;
  color: #D8D8D8;
  line-height: 35px;
  max-width: 550px;
}
.contact-details{
  display: flex;
  flex-direction: column;
  gap:30px;
  color:#D8D8D8;
  font-size: 22px;
}
.contact-detail{
  display: flex;
  align-items: center;
  gap:20px;
}
.contact-right{
  display: flex;
  flex-direction: column;
  gap:30px;
  align-items: start;
}
.contact-right label{
  color:#D8D8D8;
  font-size: 22px;
  font-weight: 500;
}
.contact-right input, .contact-right textarea{
  background: #32323c;
  border: none;
  border-radius: 4px;
  padding-left: 20px;
  color:#a0a0a0;
  font-size: 18px;
  width:700px;
  height:78px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  font-family: Outfit, sans-serif;
}
.contact-right textarea{
  height:200px;
  padding-top:20px;
  resize: none;
  width:650px;
  border:none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  background: #32323c;
  color:#a0a0a0;
  font-size: 18px;
  font-family: Outfit, sans-serif;

}
.contact-submit{
  width: 200px;
  height: 60px;
  background: linear-gradient(90deg, #DF8908 0%, #B415FF 100%);
  border: none;
  border-radius: 30px;
  color:#FFFFFF;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}
.contact-submit:hover{
  box-shadow: 0px 0px 20px rgba(213, 21, 255, 0.5);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}