.navbar{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin:20px 170px ;
}
.nav-menu{
    display: flex;
    align-items:center;
     list-style: none;
     font-size:60px;
     gap:60px;
}
.nav-connect{
    padding:20px 40px;
    border-radius:50px;
    background: linear-gradient(267deg,#DA7C25 0.36%,#B923E1 102.06%);
    font-size:22px;
    cursor:pointer;
    text-decoration:none;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    -ms-border-radius:50px;
    -o-border-radius:50px;
     transition:0.5s ;
    -webkit-transition:0.5s ;
    -moz-transition:0.5s ;
    -ms-transition:0.5s ;
    -o-transition:0.5s ;
}
.nav-connect:hover{
 transform: scale(1.1);
}