.footer{
  margin:50px 170px;
  display: flex;
  flex-direction: column;
  gap:30px;
}
.footer-top{
  display: flex;
  justify-content: space-between;
}
.footer-top-left p{
  font-size: 20px;
  max-width: 400px;
}
.footer-top-right{
  display: flex;
  gap:35px;
  align-items: center;
}
.footer-email-input{
  display: flex;
  gap:30px;
  padding:20px 30px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background: #32323b;
  padding-right:80px;
}
.footer-email-input input{
  background: transparent;
  border: none;
  outline: none;
  color:#a0a0a0;
  font-size: 18px;
  font-family: Outfit;
}
.footer-subs{
  font-size: 20px;
  padding:22px 50px;
  border-radius: 50px;
  background: linear-gradient(264deg,#df8908 -5.09%,#b415ff 106.28%);
  cursor: pointer;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}
.footer-subs:hover{
  box-shadow: 0 0 20px #b415ff;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}
.footer-bottom{
  display: flex;
  justify-content: space-between;
  font-size:18px;
}
.footer-bottom-right{
  display: flex;
  gap:50px;
  margin-bottom: 50px;
}
.footer-email-input:hover{
  border:2px solid white;
  transition: .3s;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}